In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd
from datetime import datetime,timedelta

In [2]:
df = pd.read_csv('extract_115.csv',sep=';')

### Demande 115

Voici les explications des préfixes de nom de colonne
* *Per* : PERSONNE
* *Dso* : DIAGNOSTIC SOCIAL
* *Fic* : FICHE
* *Sad* : SITUATION ADMINISTRATIVE
* *Sfa* : SITUTATION FAMILLE
* *Sso* : SITUATION SOCIALE
* *Dhe* : DEMANDE HEBERGEMENT
* *Rep* : REPONSE
* *Gro* : GROUPE DE PLACE ASSOCIE A LA REPONSE
* *Str* : Structure du groupe de place associé à la réponse

### Prestation 115

Voici les explications des préfixes de nom de colonne
* *Per* : PERSONNE
* *Dso* : DIAGNOSTIC SOCIAL
* *Fic* : FICHE
* *Sad* : SITUATION ADMINISTRATIVE
* *Sfa* : SITUTATION FAMILLE
* *Sso* : SITUATION SOCIALE
* *Pre* : PRESTATION

# Cleaning

In [3]:
df['dem_date'] = pd.to_datetime(df['dem_date'],format = '%d/%m/%Y')

In [4]:
# df['numero_demande']
demandes = df[['per_id','dem_date']].drop_duplicates()
demandes[['per_id','dem_date']].sort_values(by=['per_id','dem_date'])

         per_id   dem_date
16426    780689 2017-09-16
11742  40861604 2017-07-22
11743  40861604 2017-07-24
11744  40861604 2017-07-25
11745  40861604 2017-07-28
11746  40861604 2017-08-01
11747  40861604 2017-08-03
11748  40861604 2017-08-08
11749  40861604 2017-08-10
11750  40861604 2017-08-11
11751  40861604 2017-08-14
11752  40861604 2017-08-15
11753  40861604 2017-08-18
11754  40861604 2017-08-21
11755  40861604 2017-08-31
11756  40861604 2017-09-04
11757  40861604 2017-09-07
11758  40861604 2017-09-28
11759  40861604 2017-09-29
11760  40861604 2017-10-16
11761  40861604 2017-11-06
11762  40861604 2017-11-10
11763  40861604 2017-11-14
11764  40861604 2017-11-15
11765  40861604 2017-11-16
11766  40861604 2017-11-23
11767  40861604 2017-11-24
13233  41107616 2017-08-07
13241  41107616 2017-08-08
13222  41107616 2017-08-31
...         ...        ...
26982  43394083 2018-02-12
26981  43394103 2018-02-12
26989  43396983 2018-02-12
26988  43396983 2018-02-13
26990  43396983 2018-02-14
26992  43399044 2018-02-12
26993  43402423 2018-02-12
26994  43402663 2018-02-12
26995  43403223 2018-02-12
26996  43403223 2018-02-13
26997  43403243 2018-02-12
26998  43403263 2018-02-12
26999  43404283 2018-02-13
27000  43404464 2018-02-13
27001  43405343 2018-02-13
27003  43406883 2018-02-13
27002  43406883 2018-02-14
27004  43406903 2018-02-13
27006  43407363 2018-02-13
27005  43407363 2018-02-14
27010  43409424 2018-02-13
27009  43409424 2018-02-14
27012  43411303 2018-02-13
27013  43411943 2018-02-13
26924  43413544 2018-02-13
26926  43413544 2018-02-14
27015  43414503 2018-02-14
27016  43432264 2018-02-14
27017  43432663 2018-02-14
27018  43432703 2018-02-14

[26935 rows x 2 columns]

# Analyse

In [5]:
df.groupby('per_victime_violence')['reponse'].value_counts()

per_victime_violence  reponse
NON                   OUI                14010
                      SANS_TRAITEMENT    11131
                      REFUS_115           1200
                      REFUS_USAGER         636
OUI                   OUI                   19
                      SANS_TRAITEMENT       19
                      REFUS_USAGER           4
Name: reponse, dtype: int64

In [6]:
df[df['per_victime_violence'].isin(['OUI']) & df['reponse'].isin(['REFUS_USAGER'])]['motif_refus_usager']

20289    La personne a trouvé une autre solution
20291    La personne a trouvé une autre solution
20293    La personne a trouvé une autre solution
26309         La personne ne s'est pas présentée
Name: motif_refus_usager, dtype: object

In [7]:
df['dem_date'].value_counts()

2017-11-09    209
2018-01-23    208
2017-11-16    206
2018-02-06    197
2018-01-04    192
2018-01-22    191
2018-02-05    190
2017-12-18    189
2018-01-11    189
2018-01-30    188
2018-01-09    186
2017-12-19    185
2018-02-08    184
2018-01-16    184
2018-01-08    183
2018-02-12    181
2017-12-21    181
2018-01-25    179
2017-12-26    179
2017-12-14    177
2018-02-01    176
2017-11-28    174
2017-09-26    172
2017-09-25    172
2018-01-18    172
2018-02-13    170
2018-01-29    169
2017-08-07    169
2017-10-23    169
2017-07-25    168
             ...
2017-10-07     19
2017-06-24     18
2017-11-25     18
2017-10-21     17
2017-09-30     17
2017-11-11     17
2017-08-27     16
2017-10-28     16
2017-10-14     15
2017-07-30     14
2017-11-26     13
2017-06-25     13
2017-07-08     13
2017-10-01     12
2017-08-06     11
2017-07-16     11
2017-11-12     11
2017-07-01     11
2017-10-15     11
2017-09-24     11
2017-12-03     11
2017-09-09     11
2017-10-08     10
2017-10-22      8
2017-09-10      7
2017-07-02      7
2017-09-17      7
2017-11-01      7
2017-11-05      6
2017-10-29      4
Name: dem_date, Length: 240, dtype: int64

In [8]:
# Réponse en fonction de la situation au moment de la demande
df.groupby('dem_situation_au_moment_de_la_demande')['reponse'].value_counts()

dem_situation_au_moment_de_la_demande                 reponse
AUDA                                                  OUI                    2
                                                      SANS_TRAITEMENT        1
Accueil de jour, service social, associations         SANS_TRAITEMENT        2
                                                      OUI                    1
                                                      REFUS_USAGER           1
Autre                                                 OUI                    8
                                                      SANS_TRAITEMENT        7
                                                      REFUS_115              1
                                                      REFUS_USAGER           1
Hébergement d'urgence                                 OUI                   53
                                                      SANS_TRAITEMENT        5
                                                      REFUS_115              3
Hébergé chez famille                                  REFUS_USAGER           1
Hôtel (hors 115)                                      REFUS_115              1
Hôtel 115                                             OUI                    6
Institutions publiques (hôpital, maison de retraite)  OUI                    5
                                                      REFUS_115              3
                                                      SANS_TRAITEMENT        1
À la rue                                              OUI                13954
                                                      SANS_TRAITEMENT    11134
                                                      REFUS_115           1192
                                                      REFUS_USAGER         637
Name: reponse, dtype: int64

In [9]:
# Nombre moyen de demandes par utilisateur
df.groupby(['per_id'])['dem_id'].nunique().mean()
# out : 11

11.155656482246078

In [10]:
# Nombre moyen de nuits par utilisateur
demandes = df.groupby(['per_id','dem_id'],as_index=0)['rep_nb_nuit'].mean()
demandes = demandes[~demandes['rep_nb_nuit'].isnull()]
demandes.groupby(['per_id'])['rep_nb_nuit'].sum().mean()

20.810306198655713

In [11]:
# Quel est le temps moyen entre deux demandes par utilisateur ? # il faudrait l'avoir par demandeur principal
demandes = df[['per_id','dem_date']].drop_duplicates()
dem_min = demandes.groupby(['per_id'],as_index=0)['dem_date'].min()
dem_max = demandes.groupby(['per_id'],as_index=0)['dem_date'].max()
dem_count = demandes.groupby(['per_id'],as_index=0).agg({'dem_date':'nunique'})

demandes_dates = dem_min.join(dem_max,rsuffix='_max').join(dem_count,rsuffix='_count')
demandes_dates['date_diff'] = demandes_dates['dem_date_max'] - demandes_dates['dem_date']
demandes_dates['ecart_moy'] = demandes_dates.date_diff / demandes_dates['dem_date_count']
demandes_dates.ecart_moy.mean()

Timedelta('3 days 06:10:40.227507')

In [12]:
# Pourcentage de d'utilisateurs faisant seulement une demande
(demandes_dates.date_diff==timedelta(0)).mean()
# 37.5%

0.374896779521057

In [13]:
# Parmis les utilisateurs ayant fait une seule demande, quelle avait été la réponse
df[df['per_premiere_demande']==df['per_derniere_demande']]['reponse'].value_counts()

SANS_TRAITEMENT    441
OUI                205
REFUS_115          128
REFUS_USAGER        92
Name: reponse, dtype: int64

In [14]:
demandes_dates[demandes_dates['dem_date_count'] > 20]

,per_id,dem_date,per_id_max,dem_date_max,per_id_count,dem_date_count,date_diff,ecart_moy
1,40861604,2017-07-22,40861604,2017-11-24,40861604,26,125 days,4 days 19:23:04.615384
24,42225415,2017-06-21,42225415,2017-09-27,42225415,39,98 days,2 days 12:18:27.692307
30,42257364,2017-06-19,42257364,2017-10-12,42257364,60,115 days,1 days 22:00:00
45,42301863,2017-11-02,42301863,2018-01-28,42301863,72,87 days,1 days 05:00:00
46,42303581,2017-06-29,42303581,2018-02-04,42303581,95,220 days,2 days 07:34:44.210526
47,42308270,2017-07-05,42308270,2018-02-01,42308270,58,211 days,3 days 15:18:37.241379
54,42322512,2017-11-09,42322512,2018-01-30,42322512,22,82 days,3 days 17:27:16.363636
61,42336539,2017-06-29,42336539,2017-12-04,42336539,48,158 days,3 days 07:00:00
73,42369413,2017-07-11,42369413,2017-08-11,42369413,24,31 days,1 days 07:00:00
85,42398740,2017-08-07,42398740,2018-01-12,42398740,32,158 days,4 days 22:30:00
87,42401943,2017-06-30,42401943,2017-12-13,42401943,34,166 days,4 days 21:10:35.294117
100,42448024,2017-09-25,42448024,2018-02-12,42448024,57,140 days,2 days 10:56:50.526315
103,42460640,2017-10-03,42460640,2018-02-14,42460640,83,134 days,1 days 14:44:49.156626
104,42461931,2017-11-17,42461931,2017-12-18,42461931,21,31 days,1 days 11:25:42.857142
105,42462289,2017-11-07,42462289,2018-02-11,42462289,58,96 days,1 days 15:43:26.896551
108,42466342,2017-12-12,42466342,2018-02-09,42466342,23,59 days,2 days 13:33:54.782608
113,42484029,2017-08-22,42484029,2017-10-11,42484029,30,50 days,1 days 16:00:00
119,42487377,2017-11-11,42487377,2018-01-25,42487377,31,75 days,2 days 10:03:52.258064
120,42490211,2017-06-30,42490211,2018-02-12,42490211,37,227 days,6 days 03:14:35.675675
127,42511396,2017-09-06,42511396,2017-12-19,42511396,33,104 days,3 days 03:38:10.909090
129,42512349,2017-06-19,42512349,2017-08-24,42512349,46,66 days,1 days 10:26:05.217391
139,42516020,2017-06-20,42516020,2018-02-07,42516020,74,232 days,3 days 03:14:35.675675
145,42516773,2017-06-19,42516773,2017-12-19,42516773,69,183 days,2 days 15:39:07.826086
148,42517487,2017-06-21,42517487,2017-12-02,42517487,31,164 days,5 days 06:58:03.870967
150,42517499,2017-06-19,42517499,2017-09-06,42517499,34,79 days,2 days 07:45:52.941176
155,42517829,2017-06-27,42517829,2018-02-13,42517829,22,231 days,10 days 12:00:00
156,42517833,2017-06-19,42517833,2018-02-14,42517833,59,240 days,4 days 01:37:37.627118
159,42518069,2017-06-19,42518069,2018-02-12,42518069,37,238 days,6 days 10:22:42.162162
166,42518091,2017-06-20,42518091,2018-02-12,42518091,49,237 days,4 days 20:04:53.877551
169,42518094,2017-06-19,42518094,2018-02-12,42518094,84,238 days,2 days 20:00:00
...,...,...,...,...,...,...,...,...
1887,42942903,2017-12-14,42942903,2018-01-29,42942903,39,46 days,1 days 04:18:27.692307
1892,42947103,2017-12-14,42947103,2018-02-14,42947103,28,62 days,2 days 05:08:34.285714
1893,42947123,2017-12-14,42947123,2018-02-14,42947123,28,62 days,2 days 05:08:34.285714
1894,42947124,2017-12-14,42947124,2018-02-14,42947124,28,62 days,2 days 05:08:34.285714
1903,42949283,2017-12-15,42949283,2018-01-20,42949283,21,36 days,1 days 17:08:34.285714
1904,42949303,2017-12-15,42949303,2018-01-20,42949303,21,36 days,1 days 17:08:34.285714
1936,42960972,2017-12-25,42960972,2018-02-07,42960972,21,44 days,2 days 02:17:08.571428
1949,42964243,2017-12-18,42964243,2018-01-22,42964243,22,35 days,1 days 14:10:54.545454
1965,42974567,2017-12-20,42974567,2018-02-14,42974567,26,56 days,2 days 03:41:32.307692
1976,42981503,2017-12-21,42981503,2018-02-14,42981503,36,55 days,1 days 12:40:00
1977,42981523,2017-12-21,42981523,2018-02-14,42981523,36,55 days,1 days 12:40:00
1978,42981607,2017-12-21,42981607,2018-02-14,42981607,36,55 days,1 days 12:40:00
1980,42981683,2017-12-21,42981683,2018-02-14,42981683,36,55 days,1 days 12:40:00
1981,42981723,2017-12-21,42981723,2018-02-08,42981723,40,49 days,1 days 05:24:00
1982,42981924,2017-12-21,42981924,2018-02-08,42981924,47,49 days,1 days 01:01:16.595744
1995,42991523,2017-12-22,42991523,2018-02-14,42991523,23,54 days,2 days 08:20:52.173913
1996,42991543,2017-12-22,42991543,2018-02-14,42991543,21,54 days,2 days 13:42:51.428571
2003,42997643,2017-12-25,42997643,2018-02-07,42997643,21,44 days,2 days 02:17:08.571428
2019,43011563,2017-12-27,43011563,2018-02-14,43011563,39,49 days,1 days 06:09:13.846153
2038,43033048,2017-12-29,43033048,2018-02-14,43033048,32,47 days,1 days 11:15:00
2039,43033050,2017-12-29,43033050,2018-02-14,43033050,32,47 days,1 days 11:15:00
2040,43033064,2017-12-29,43033064,2018-02-14,43033064,32,47 days,1 days 11:15:00
2041,43033103,2017-12-29,43033103,2018-02-14,43033103,32,47 days,1 days 11:15:00
2057,43046123,2017-12-31,43046123,2018-02-12,43046123,28,43 days,1 days 12:51:25.714285
2103,43102665,2018-01-07,43102665,2018-02-08,43102665,26,32 days,1 days 05:32:18.461538
2110,43106343,2018-01-08,43106343,2018-02-13,43106343,24,36 days,1 days 12:00:00
2114,43109723,2018-01-08,43109723,2018-02-14,43109723,31,37 days,1 days 04:38:42.580645
2138,43135563,2018-01-11,43135563,2018-02-08,43135563,21,28 days,1 days 08:00:00
2147,43149823,2018-01-11,43149823,2018-02-14,43149823,31,34 days,1 days 02:19:21.290322
2158,43163983,2018-01-12,43163983,2018-02-14,43163983,28,33 days,1 days 04:17:08.571428